@import '~office-ui-fabric-react/dist/sass/References.scss';

.twitterFeed {
  // .instagramIcon{

  //   // font-size:30px;
  //   // background: #d6249f;
  //   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%)!important;
  //   // -webkit-background-clip: text;
  //   // -webkit-text-fill-color: transparent;
  // }
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }
  .zNetWpTitle span{
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
  }
  .twitterIcon{
    font-size: large;

  }
  .pivotControl {
    margin-top: -4px;
    ul[role="tablist"] span {
      // border: 1px solid #7f7f7f;
      // border-radius: 12px;
      font-size: 20px;
      font-weight: 600;
  }
    button {
      padding-top: 10px!important;
      height: 60px!important;
      cursor: pointer;
      text-align: center;
      // border-radius: 10px;
      background-clip: padding-box;
      overflow: hidden;
      text-overflow: ellipsis;
      border: 1px solid transparent!important;
      font-size: 13px;
      margin-right: 0px;
      &:hover {
          background-color: lightgrey;
          border-color: lightgrey;
      }
      &[aria-selected="true"] {
        background-color: #ff0061!important;
        border-color: #ff0061;
        color: #fff;
        fill: #fff;
      }&[aria-selected="true"]::before {
        border: none!important;
      }
    }
  }
  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
