@import "~office-ui-fabric-react/dist/sass/References.scss";
:export {
  centerPadding: 50px;
}

.filmstripLayout {
  .container {
    @include ms-Grid;
    padding: 0;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
  }

  /**
   * User same style than native webpart title
   */
  .title {
    font-family: "Segoe UI Web (West European)","Segoe UI","-apple-system,BlinkMacSystemFont",Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 600;
  }
  // .ms-Persona-imageArea{
  //   margin: auto;
    
  // }
  // .ms-Persona-image {
  //   border-radius: 0px!important;  
  // }
  /*
   * Used to hide title
   */
  &.hidden {
    display: none!important;
  }
  
  .personaTile {
    @include ms-Grid-col;
    @include ms-lg4;
    @include ms-md4;
    @include ms-sm12;
    // margin: 10px 0;
   
    transition: box-shadow 0.5s ease 0s;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 0;
    max-width: 172px;
    padding-right: 0;
  }
  .persona:hover{

    box-shadow: rgba(0, 0, 0, 0.133) 0px 3.2px 7.2px 0px, rgba(0, 0, 0, 0.11) 0px 0.6px 1.8px 0px;
  }
  .persona {
    box-shadow: rgba(160, 88, 88, 0.133) 0px 1.6px 3.6px 0px, rgba(0, 0, 0, 0.11) 0px 0.3px 0.9px 0px;
    width: auto;
    height: 230px!important;
    display: block;
    // padding-left: 10px;
    // padding-right: 10px;
    margin-bottom: 10px;
   
  }

  .persona > div >div >div{
    border-radius:  0;
  }
  .persona > div >div {
    display: block!important;
    text-align: center;
    // background-color: red;
    margin: 0 auto;
  }
  .persona > div {
    display: block;
    height: auto;
    padding: 0!important;
    // padding-right: 8px;
    // display: table-cell;
    // vertical-align: middle;
  }
  // .persona > div > .ms-Persona-details{
  //   padding: 0;
  // }
  .persona > div .ms-Persona-secondaryText > div {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }



  position: relative;

  &.filmStrip {
    margin-bottom: 27px;
    margin-left: -10px;
    margin-right: -10px;

    :global(.slick-slide) {
      box-sizing: border-box;
      padding: 0 10px;
    }
  }
//   &.filmeStrip > div >div >div{
// width:  170px!important;

//   }
  .sliderButtons {
    opacity: 0;
  }

  &:hover .sliderButtons {
    opacity: 1;

    &:hover {
      color: $ms-color-white;
    }
  }
}

.indexButtonContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.indexButton {
  font-size: 28px;
  font-weight: 400;
  height: 40px;
  padding: 0;
  border: 0;
  background: 0 0;
  cursor: pointer;
  color: $ms-color-white;
  width: 40px;
  min-width: 20px;
  margin-left: 0;
  line-height: 40px;
  box-sizing: content-box;
  background-color: $ms-color-black;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;

  &:hover {
    color: $ms-color-white;
    background-color: $ms-color-black;
    opacity: 0.6;
  }

  &:active {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.carouselDotsContainer {
  .carouselDot {
    display: inline-block;
    background-color: $ms-color-black;
    height: 4px;
    width: 4px;
    opacity: 0.5;
    border: 2px solid $ms-color-black;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.25;
    outline: 0;

    &:hover {
      opacity: 1;
    }
  }
}

:global(.slick-active) {
  .carouselDotsContainer {
    .carouselDot {
      background-color: $ms-color-themeDark; //"[theme:themeDark, default: #005a9e]";
      opacity: 0.75;
      border-color: $ms-color-themeDark;// "[theme:themeDark, default: #005a9e]";

      &:hover {
        background-color: $ms-color-themeDarker;//"[theme:themeDarker, default: #004578]";
      }
    }
  }
}

.indexButton:global(.ms-Button-flexContainer):hover:global(.ms-Icon),
.indexButton:global(.ms-Icon:hover),
.indexButton:hover:global(.ms-Icon) {
  color: $ms-color-white;
}

.leftPositioned {
  left: 0;
}

.rightPositioned {
  right: 0;
}
